<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title2 %></title>
</head>
<body>
    <div>
        list 페이지에유
    </div>
</body>
</html>